@page "/ForgotPasswordConfirmation"

<PageTitle>Reset Confirmation</PageTitle>
<div class="row col-md-12" style="place-content:center;text-align:center">

    <div class="card border">
        <div class="card-body">
            <h3 class="col-12 text-black text-center py-2">
                Confirmation email sent!
            </h3>
            <div>
                <p>Please check your email, use the provided link to reset your password. </p>
            </div>
        </div>
    </div>
</div>


@code {

}
