@page "/forgotpassword"
@using CrimeLogger.Shared


@inject IAuthenticationService authenticationService
@inject NavigationManager navigationManager
@inject IJSRuntime jsRuntime

<EditForm Model="forgotPasswordDTO" OnValidSubmit="SendResetPassword">
    <DataAnnotationsValidator />
    <div class="py-4">
        <div class=" row form-group ">
            <div class="col-6 offset-3 ">
                <div class="card border">
                    <div class="card-body px-lg-5 pt-4">
                        <h3 class="col-12 text-black text-center py-2">
                            <strong>Forgot Password</strong>
                        </h3>
                        <InputText @bind-Value="forgotPasswordDTO.Email" id="email" placeholder="Email" class="form-control mb-2" />
                        <ValidationMessage For="(()=>forgotPasswordDTO.Email)"></ValidationMessage>
                        <hr style="background-color: lightgrey " />
                        <div class="py-2">
                            <button type="submit" class="btn btn-outline-dark text-black mt-3"><i class="fas fa-unlock-alt"></i> Submit</button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</EditForm>


@code {


    private ForgotPasswordDTO forgotPasswordDTO = new ForgotPasswordDTO();

    private async Task SendResetPassword()
    {
        var result = await authenticationService.ForgotPassword(forgotPasswordDTO);
        if(result != null)
        {

            navigationManager.NavigateTo("/ForgotPasswordConfirmation");

       }
    }
}
