@page "/"

<PageTitle>CrimeLogger</PageTitle>

<div class="colored-section" id="title">
    <div class="container-fluid">
        <div class="row">
            <div class="col-lg-6">
                <h1 class="master-heading">Log crimes and monitor what's happening in your neighborhood.</h1>
                <button type="button" class="btn btn-dark btn-lg download-button"><span class="fab fa-apple"></span> Download</button>
                <button type="button" class="btn btn-outline-light btn-lg download-button"><span class="fab fa-google-play"></span> Download</button>
            </div>
            <div class="col-lg-6">
                <img class="title-img" src="/images/thief.jpg" alt="crimeimage">
            </div>
        </div>
    </div>
</div>

<div class="white-section" id="features">
    <div class="row">
        <div class="col-lg-3 justify-content-center text-center">
            <i class="fas fa-check-circle feature-ico fa-4x"></i>
            <h3>Easy to use.</h3>
            <p class="paragraph-feature">So easy to use, register provide basic details for notification and verification purposes.</p>
        </div>
        <div class="col-lg-3 justify-content-center text-center">
            <i class="fas fa-share-alt feature-ico fa-4x"></i>
            <h3>Share a crime</h3>
            <p class="paragraph-feature">Submit basic details of the crime committed. Registered users in the crime area will receive real time alerts.</p>
        </div>
        <div class="col-lg-3 justify-content-center text-center">
            <i class="fas fa-binoculars feature-ico fa-4x"></i>
            <h3>View crimes</h3>
            <p class="paragraph-feature">Login and view crime numbers and types of crimes reported by Province City Suburb down to street level.</p>
        </div>
        <div class="col-lg-3 justify-content-center text-center">
            <i class="fas fa-check-double feature-ico fa-4x"></i>
            <h3>Get notifications.</h3>
            <p class="paragraph-feature">Push and email alerts. Receive notifications for crimes reported in your registered area.</p>
        </div>
    </div>
</div>

<div class="colored-section" id="cta">

    <h3 class="callfooter">Download the app today and make a difference.</h3>
    <div class="button-bottom">
        <button type="button" class="btn btn-dark btn-lg download-button-action"><span class="fab fa-apple"></span> Download</button>
        <button type="button" class="btn btn-light btn-lg download-button-action"><span class="fab fa-google-play"></span> Download</button>
    </div>
</div>

@code {

}