#title {
    text-align: left;
}

.master-heading {
    line-height: 1.0;
    text-align: left;
    padding-top: 30px;
    font-weight: bolder;
    font-size: 2.5rem;
    font-family: "Montserrat";
}

.container-fluid {
    padding: 7% 15% 5%;
}

.colored-section {
    background-color: #FF2626;
    color: #fff;
    text-align: center;
}

.white-section {
    background-color: #fff;
    justify-content: center;
    text-align: center;
}

.download-button {
    margin: 8% 3% 5% 2%;
}


.title-img {
    height: 50%;
    width: 40%;
    position: absolute;
    right: 5%;
}

@media(max-width: 991px) {
    .title-img {
        width: 40%;
        right: 22%;
        position: static;
    }

    #title {
        text-align: center;
    }
}

#features {
    padding: 7% 7%;
    position: relative;
}

.feature-ico {
    margin-bottom: 1rem;
    color: #000000;
}

    .feature-ico:hover {
        color: #FF2626;
    }

.paragraph-feature {
    color: #464660;
}

.press-logo {
    width: 50%;
    margin: 20px 20px 20px;
    justify-content: center;
    text-align: center;
}

.pricing-headers {
    font-size: 1.5rem;
    justify-content: center;
    text-align: center;
}

.pricing-h2 {
    font-size: 2.5rem;
    line-height: 4.5rem;
    justify-content: center;
    text-align: center;
}

.card {
    justify-content: center;
    text-align: center;
}

#pricing {
    padding: 100px;
}

.pricing-col {
    padding: 3% 2%;
}

#cta {
    background-color: #FF2626;
    font-family: "Montserrat";
    padding: 10px;
    height: 350px;
    color: #fff;
}

.callfooter {
    padding: 5% 3% 2% 3%;
    font-weight: bold;
    font-size: 2.5rem;
}

.button-bottom {
    padding: 0 2% 1% 2%;
}

.download-button-action {
    margin: 30px 10px;
}

.adds {
    background-color: #000000;
    padding-bottom: 3%;
    justify-content: center;
    text-align: center;
}

#testimonials {
    background-color: #000000;
    justify-content: center;
    text-align: center;
}

.testimonial-img {
    width: 10%;
    border-radius: 100%;
    margin: 20px;
}

.testimonial-text {
    font-size: 2.5rem;
    line-height: 4.5rem;
    justify-content: center;
    text-align: center;
}

.carousel-item {
    padding: 7% 15%;
}

.colored-section {
    background-color: #FF2626;
    color: #fff;
    text-align: center;
    font-weight: bolder;
    font-size: 2.5rem;
    font-family: "Montserrat";
}
