@page "/logout"
@inject IAuthenticationService authenticationService
@inject NavigationManager NavigationManager

<PageTitle>Logout</PageTitle>
<h3>Logout</h3>

@code {    
    
    protected override async Task OnInitializedAsync()
    {
        await authenticationService.Logout();
        NavigationManager.NavigateTo("/");
    }
}
