@page "/RegistrationSuccess"

<PageTitle>Success</PageTitle>
<div class="row col-md-12" style="place-content:center;text-align:center">

    <div class="card border">
        <div class="card-body">
            <h3 class="col-12 text-black text-center py-2">
                Registration Successful!
            </h3>
            <div>
                <p>Please check your email, <b>verify your email address</b> via the link provided to complete the registration process.</p>
                <p>Did not receive the email? Please take a look in the email junk folder and add the email to your safe senders list. </p>
                <p>Email address verification should be done as soon as you receive the confirmation email. The account will remain inactive until verified.</p>
            </div>
        </div>
    </div>
</div>


@code {

}
