@using CrimeLogger.Shared
@model CrimeLogger.Shared.ResetPasswordDTO

@addTagHelper *, Microsoft.AspNetCore.Mvc.TagHelpers

<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no" />
    <title>ResetPasswordLink</title>
    <link href="~/css/app.css" rel="stylesheet" asp-append-version="true" />
    <link href="~/css/bootstrap/bootstrap.min.css" rel="stylesheet" />
</head>
<body>
    <h3 class="row col-md-12" style="place-content:center; text-align:center;">Reset Password</h3>
    <div class="row col-md-12" style="place-content:center; text-align:center">

        <div class="col-md-2" style="text-align:center;place-content:center">
            <form asp-controller="Account" asp-action="ResetPassword">
                <div asp-validation-summary="All" class="text-danger"></div>
                <div class="form-group">
                    <label asp-for="Password" class="control-label"></label>
                    <br />
                    <input asp-for="Password" class="form-control" />
                    <span asp-validation-for="Password" class="text-danger"></span>
                </div>
                <br />
                <div class="form-group">
                    <label asp-for="ConfirmPassword" class="control-label"></label>
                    <br />
                    <input asp-for="ConfirmPassword" class="form-control" />
                    <span asp-validation-for="ConfirmPassword" class="text-danger"></span>
                </div>
                <input type="hidden" asp-for="Email" class="form-control" />
                <input type="hidden" asp-for="Token" class="form-control" />
                <div class="form-group">
                    <br />

                    <input type="submit" value="Submit password reset" class="btn btn-dark text-white mt-3" />

                </div>
            </form>
        </div>
    </div>
</body>


</html>
@{


}
