<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no" />
    <title>Reset Password Confirmation</title>
    <link href="~/css/app.css" rel="stylesheet" asp-append-version="true" />
    <link href="~/css/bootstrap/bootstrap.min.css" rel="stylesheet" />
</head>
<body>

    <div class="row col-md-12" style="text-align:center">

    <div class="card border">
        <div class="card-body">
            <h3 class="col-12 text-black text-center py-2">
                Password reset completed.
            </h3>
            <div>
                <p> Your password has been reset. Please log in</a>.
                </p>
            </div>
        </div>
    </div>
</div>



</body>
</html>


@{
  
}
