h1, h2, h3, h4 {
    font-family: "Montserrat";
    font-weight: bold;
}

.white-section {
    background-color: #fff;
    justify-content: center;
    text-align: center;
}

.callfooter {
    padding: 5% 3% 2% 3%;
    font-weight: bold;
    font-size: 2.5rem;
    text-align: center;
    justify-content: center;
    text-align: center;
}
