.navbar {
    padding: 0 0 0rem;
}

.navbar-brand {
    font-family: "Ubuntu";
    font-size: 2.0rem;
    font-weight: bold;
    right: auto;
}

.nav-item {
    padding: 0 5px;
}

.nav-link {
    font-size: 1.2rem;
    font-family: "Montserrat-Light";
}

.colored-section {
    background-color: #000000;
    color: #fff;
    justify-content: center;
    text-align: center;
}


.container-fluid {
    padding: 3% 15% 3%;
}
