@using Microsoft.AspNetCore.Components
@{
    ViewData["Title"] = "confirmedemail";
}
@inject NavigationManager NavigationManager
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no" />
    <title>ConfirmEmail</title>
    <link href="~/css/bootstrap/bootstrap.min.css" rel="stylesheet" />
    <link href="~/css/app.css" rel="stylesheet" asp-append-version="true" />
</head>
<body>

    <div class="row col-md-12" style="place-content:center;text-align:center">

    <div class="card border">
        <div class="card-body">
            <h3 class="col-12 text-black text-center py-2">
                Welcome to CrimeLogger.
            </h3>
            <div>
                <p>Thank you for confirming your email.
                    
                    @*@Html.ActionLink("Click here to Log in", "", "", routeValues: null, htmlAttributes: new { id = "loginLink" })*@
                </p>
            </div>
        </div>
    </div>
</div>


</body>
</html>

@{
   

}
